{% extends 'layoutBack.html.twig' %}
{% block content %}
    <center><H1>Les Sous Catégories</H1></center>
    </br></br>
    <div class="container">
        <table class="table table-striped" size="sm">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Libelle</th>
                <th scope="col">Catégorie</th>
                <th scope="col">Modification</th>
                <th scope="col">Suppression</th>
            </tr>
            </thead>
            {% for SousCategorie in c %}
                <tr>
                    <td>{{ SousCategorie.id }}</td>
                    <td>{{ SousCategorie.libelle }}</td>
                    <td>{{ SousCategorie.getIdCategorie() }}</td>
                    <td><a href="{{ path('ModifierSousCategorie',{'id':SousCategorie.id}) }}">modifier</a></td>
                    <td><a href="{{ path('SupprimerSousCategorie',{'id':SousCategorie.id}) }}">supprimer</a></td>
                </tr>
            {% endfor %}
        </table>
        <a href="{{ path('AjoutSousCategorie') }}" class="btn btn-info" role="button"><i class="fa fa-plus"></i> Ajouter </a>
    </div>
{% endblock %}